<script src="https://code.jquery.com/jquery-1.11.1.js"></script>
<script src="/socket.io/socket.io.js"></script>
<script>
<script>
  $(function () {
    var socket = io();
    socket.on('read rfid', userName);

        $('#userName').val(userName);
    });
  });
</script>
</script>
<h1>RFID: <span id="userName">{{rfid}}</span></h1>