<script>
    $(document).ready(function () {
        function onShowNotification () {
            console.log('notification is shown!');
        }
        function onCloseNotification () {
            console.log('notification is closed!');
        }
        function onClickNotification () {
            console.log('notification was clicked!');
        }
        function onErrorNotification () {
            console.error('Error showing notification. You may need to request permission.');
        }
        function onPermissionGranted () {
            console.log('Permission has been granted by the user');
            doNotification();
        }
        function onPermissionDenied () {
            console.warn('Permission has been denied by the user');
        }
        function doNotification () {
            var myNotification = new Notify('Usuário conectado!',{
                body: "Olá",
                tag: 'My unique id',
                notifyShow: onShowNotification,
                notifyClose: onCloseNotification,
                notifyClick: onClickNotification,
                notifyError: onErrorNotification,
                timeout: 4
            });
            myNotification.show();
        }
        if (!Notify.needsPermission) {
            doNotification();
        } else if (Notify.isSupported()) {
            Notify.requestPermission(onPermissionGranted, onPermissionDenied);
        }
    });

    $(function () {
        var socket = io();
        socket.on('read rfid', function(userName){;
            $('#userName').html('').html(userName);
            var userNotification = new Notification('Há café sendo feito!',{
                body: "Responsável: " + userName,
                tag: 'idResponsavel',
                icon: 'bot.png',
                timeout: 4
            });
            userNotification.show();
        });
    });
</script>
<h1>RFID: <span id="userName"></span></h1>